#navbar {
    flex-direction: column;
    height: 14vh;
    /* gap: 0.3vh; */
    padding-top: 0;
}
#navbar ul li a{
    font-size: 0.8rem;
    padding: 0px 0.8vw;
    padding-bottom: 7px;
}
#home{
    height: 60vh;
    padding: 3px 15px;
}
#home::before{
    height: 74vh;
}
#home h1{
    font-size: 2.4rem;
    margin: 1rem 0rem;
}
#home .text #first{
   font-size: 1.5rem;
}
#home .text{
    font-size: 1rem;
    line-height:1.2rem;
    padding: 0 1rem;
}
#home .text #second{
    margin-bottom: 2rem;
}
.btn{
    font-size: 1rem;
}
#movingdiv{
   /* top: 70%; */
    padding: 0.5rem;
    width: 50%;
}
#movingdiv .move img{
    height: 1rem;
}
@media screen and (max-width:500px){
    .form{
        width: 40vh;
    }
    .email{
        width: 35vh;
    }
}
@media screen and (max-width:395px){
   #home:before{
    width: 105vw;
   }
   #home{
    width: 105vw;
    padding: 3px;
   }
   #navbar{
    width: 105vw;
   }
   #navbar:before{
    width: 105vw;
   }
   .form{
    width: 35vh;
}
.email{
    width: 30vh;
}
}
@media screen and (max-width:355px){
   #home:before{
    width: 111vw;
   }
   #home{
    width: 111vw;
    padding: 3px;
   }
   #navbar{
    width: 111vw;
   }
   #navbar:before{
    width: 111vw;
   }
   .form{
    margin-left: 32px;
}
}
@media screen and (max-height:750px){
    #navbar{
        height: 7.5rem;
    }
    #home{
        height: 30rem;
    }
    #home::before{
        height: 37.5rem;
    }
}