<div class="logincontainer"><h1 class="signin-h">Sign Up</h1>
    <p style="color: black; font-weight: 700;font-size: 1.4rem;">Create an account to track your progress, showcase your skill-set and be a part of the community.</p>
<form action="/signup" method="post">
    <input type="text" placeholder="Name" name="name">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <input type="email" name="email" placeholder="Email">
    <br>
    <input type="submit" class="sub">
</form>
<a href="/login" style="color:rgb(70, 70, 214);">Go back to login page</a>
</div>